* {

    margin: 0;
    padding: 0;
    font-family: 'Open Sans';

}

html {

    height: 100%;
    width: 100%;

}

body {

    height: 100%;
    width: 100%;

}

header {

    height: 10%;

    display: flex;
    justify-content: center;

    background-color: #FFF3B0;

}

#logo {

    height: 100%;

}

.content {

    height: 90%;

}